*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 solid;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul,
ol {
  list-style: none;
}

:root {
  --color-primary: oklch(0.615 0.2024 26.81);
}

html {
  font-family: sans-serif;
  line-height: 1.2;
}

html,
body {
  min-height: 100dvh;
  background-color: #0f0f0f;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e4e4e7;
}
