---
interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Foxford Tools',
  description = 'Браузерное расширение для учеников Фоксфорда',
} = Astro.props;
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />

    <link rel="icon" href="/favicon.ico" sizes="48x48" />
    <link rel="icon" href="/icons/logo.svg" type="image/svg+xml" />

    <meta property="og:site_name" content="Foxford Tools" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://fox.lyosha.dev" />
    <meta property="og:type" content="website" />
    <meta name="og:image" itemprop="image" content="/banner.png" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
